/*设置所有元素的位置在整个页面的中间*/

#at-plus-container {
    position: absolute;
    bottom: 20%;
    left: 300px;
    margin: auto;
}


/*设置几个类跟id的样式 其中button和info表示一个大类*/

#bottom-positioner,
.button,
.info {
    background-color: gray;
    border-radius: 100%;
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 100%;
}


/*一开始是一个白色的@+*/

#bottom-positioner {
    width: 40px;
    height: 40px;
    bottom: 20%;
    left: 300px;
    margin: auto;
    background-image: url(assets/images/atplus_white.png);
    background-color: rgba(48, 63, 159, 1);
    background-position: center;
    background-repeat: no-repeat;
    transition: all 1s 1.5s ease-in-out;
    /*
    transition-duration: 0.5s 1s;
    transition-timing-function: ease-in-out;
*/
}


/*添加transition是为了使得在动态效果完成以后恢复过程中实现平滑*/

.button,
.info {
    right: 0px;
    bottom: 0%;
    visibility: hidden;
    opacity: 0;
    transition: all 1s linear;
}

.info {
    height: 130px;
    width: 130px;
    right: -35px;
}


/*灰色框框的效果*/

#at-plus-container:hover .button,
#at-plus-container:hover .info {
    transition: all 1s linear;
    visibility: visible;
    opacity: 1;
}


/*实现@+的变化效果*/

#at-plus-container:hover #bottom-positioner {
    background-image: url(assets/images/atplus_green.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #0b1bdb;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    transition: all 1s 0s linear;
}


/*使得<li>里面没有小圆点*/

li {
    list-style-type: none;
}


/*-------------------the big circle*/

#at-plus-container:hover .info {
    transform: translate(0px, -120px);
}


/*-----------------以下为了设置大圈圈里面的各个位置的信息---------------------*/

.page {
    height: 30px;
}

.user {
    position: relative;
}

.page span {
    color: white;
    font-size: 15pt;
    position: relative;
    left: 8px;
    bottom: 5px;
}

.comment {
    position: relative;
}

.comment span {
    font-size: 20pt;
}

.mine {
    height: 20px;
}

.mine span {
    color: #079E6E;
    font-size: 18pt;
    font-weight: bolder;
    left: 7px;
    position: relative;
}

.posted {
    position: relative;
    right: 20px;
}

.like {
    position: relative;
    left: 30px;
    bottom: 20px;
}


/*ring内部的东西*/

#at-plus-container:hover .mask {
    background-image: url(assets/images/mask.png);
    background-repeat: no-repeat;
    background-position: center;
    transform: translate(-100px, -100px);
}

.unread {
    display: block;
    position: relative;
    width: 18px;
    height: 18px;
    left: 40px;
    color: white;
    background-color: red;
    border-radius: 100%;
    text-align: center;
}

#at-plus-container:hover .history {
    background-image: url(assets/images/history.png);
    background-repeat: no-repeat;
    background-position: center;
    transform: translate(-120px, -30px);
}

#at-plus-container:hover .message {
    background-image: url(assets/images/message.png);
    background-repeat: no-repeat;
    background-position: center;
    transform: translate(-100px, 42px);
}

#at-plus-container:hover .setting {
    background-image: url(assets/images/setting.png);
    background-repeat: no-repeat;
    background-position: center;
    transform: translate(-30px, 80px);
}

#at-plus-container:hover .sign {
    background-image: url(assets/images/signout.png);
    background-repeat: no-repeat;
    background-position: center;
    transform: translate(55px, 65px);
}

.apb {}

.icon {}
