* {
    background-color: ;
}

#at-plus-container {}

#bottom-positioner {

}


/*本来用来控制动态效果的，现在用来控制位置*/
.hovereffect {
    position: absolute;
    bottom: 20%;
    left: 300px;
    margin: auto;
}

/*这里已经不用写了 因为下面的hover已经实现了*/

.trans {}


/*hovereffect表示一碰到那个类就会实现的效果*/


/*用来控制鼠标触碰到的时候的动态的*/

.hovereffect:hover .button {
    transition-property: all;
    visibility: visible;
    transition-duration: 3s;
    opacity: 1;
}


/*设置为hidden为了实现显示*/
.bigger {
    background-color: gray;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    position: absolute;
    visibility: hidden;
    opacity: 0;
}
.hovereffect:hover .basic {
    width: 90px;
    height: 90px;
    border-radius: 100%;
    transition-duration: all;
    transition-duration: 2s;
}
#first {
    position: relative;
    left: 19px;
    top:19px;
}
.hovereffect:hover .basic #first{
    transition-duration: visibility;
    transition-duration: 0s;
    visibility: hidden;
    opacity: 0;
}
#second {
    position: relative;
    visibility: hidden;
    left: 13px;
    opacity: 0;
}
.hovereffect:hover .basic #second{
    transition-duration: visibility;
    transition-duration: 2s;
    visibility: visible;
    opacity: 1;
}
.basic,
.button {
    background-color: gray;
    border-radius: 100%;
    position: absolute;
    bottom: 20%;
    left: 300px;
    margin: auto;
}

.basic {
    width: 60px;
    height: 60px;
}

.button {
    width: 50px;
    height: 50px;
    visibility: hidden;
    opacity: 0;
    transition-property: all;
    transition-duration: 5s;
}


/*把所有的button中间的图片设置在中间*/


.button img {
    padding: 15px;
    margin: auto;
}


/*用来使得<li>里面的那个黑点消失*/

li {
    list-style-type: none;
}

#info-bar {}


/*-------------------the big circle*/

.info {
    background-color: gray;
    border-radius: 100%;
    height: 100px;
    width: 100px;
}


/*实现动态效果*/

.hovereffect:hover .info {
    transition-property: all;
    visibility: visible;
    transition-duration: 5s;
    transform: translate(120px, -120px);
}


/*----------------------------------------*/

.page {
    display: block;
}

.user {}

.comment {}

.mine {}

.posted {
    display: inline;
}

.like {
    display: inline;
}

#control-ring-container {}

.control-ring {}

.hover-c_ring:hover .control-ring {
    visibility: visible;
    opacity: 1;
}

.hovereffect:hover .mask {
    transition-property: all;
    visibility: visible;
    transition-duration: 5s;
    transform: translate(-160px, 50px);
}

.unread {}

.hovereffect:hover .history {
    transition-property: all;
    visibility: visible;
    transition-duration: 5s;
    transform: translate(-180px, 110px);
}

.hovereffect:hover .message {
    transition-property: all;
    visibility: visible;
    transition-duration: 5s;
    transform: translate(-200px, 120px);
}

.hovereffect:hover .setting {
    transition-property: all;
    visibility: visible;
    transition-duration: 5s;
    transform: translate(-180px, 130px);
}

.hovereffect:hover .sign {
    transition-property: all;
    visibility: visible;
    transition-duration: 2s;
    transition-timing-function: ease-out;
    transform: translate(-160px, 140px);
}

.apb {}

.icon {

}
